.head{background-color:#196EC4; position:relative; border-radius:5px 5px;}
.head h1{color:#fff; padding-left:30px; line-height:50px;}
.head>span{position:absolute; top:-8px; right:0px; font-size:30px;}
.head span:hover{color:#f15c18; cursor:pointer;}
.register{position:absolute; top:0px; right:60px;}
.register span{float:left; font-size:16px; padding:0 15px; line-height:30px; color:#fff;}

.nav{position:relative; margin-top:20px;}
.nav h3{background-color:#196EC4; padding-left:50px; border-radius:5px 5px; box-shadow:0px 4px 7px -4px inset; line-height:30px;}
.nav span{position:absolute; right:0px; top:-8px; font-size:30px;}
.nav span:hover{color:#f15c18; cursor:pointer;}

.manage{float:left;}
.manage ul{width:160px; padding-left:40px; background-color:#859DDD; height:800px;}
.manage ul li{}
.manage ul li a{height:50px; color:#fff; line-height:50px; text-align:center; background-color:#6071B6; }
.manage ul li a:hover{height:50px; color:#000; line-height:50px; text-align:center; background-color:#fff; border-radius:5px 0 0 5px/5px 0 0 5px; text-decoration:none;}
.manage ul .active{height:50px; color:#000; line-height:50px; text-align:center; background-color:#fff; border-radius:5px 0 0 5px/5px 0 0 5px; text-decoration:none;}

/*xxxxxxxxxxxxxxxxxxxxx管理xxxxxxxxxxxxxxxxxxxxxxxx*/
.detail{float:left; padding-left:20px;width:1100px; display:none;}

/*、、、产品、、、*/
.product_detail{padding-top:10px;}
.product_detail h3{ background-color:#DCE6F9; border-radius:5px 5px; width:500px; margin-bottom:20px;}

.seek{margin-bottom:30px;}
.seek a{display:inline-block; width:60px; border:1px solid #ccc; font-size:14px; margin-left:20px; text-align:center; border-radius:5px 5px;}
.seek input{/*border-radius:10px 10px;*/}

.table_th table tr th{background-color:#666; color:#fff;}
.table_th table tr td input{border-style:none;width:75px;height:18px;padding:0;outline:none;text-align:center;}
.Meter meter{width:44px;}
.Meter button{display:none;}
.Meter:hover button{display:block;}
.Meter:hover meter{display:none;}

.added>a{border:1px solid #ddd; border-radius:5px 5px; width:80px; text-align:center; text-decoration:none;display:inline-block;margin-right:30px;}
.added table tr td input{border-style:none; width:75px; height:18px; padding:0; outline:none; text-align:center;}
#app{cursor:pointer;}
.added_id{display:none;width:959px;}
.page{ float:right;}
.page>a{display:inline-block; border:1px solid #ddd; width:30px; text-align:center; margin:0 10px; border-radius:5px 5px;}
.page>a:hover{border:1px solid #f15c18; color:#f15C18; text-decoration:none;}

/*、、、采购、、、*/
.purchase_detail{padding-top:10px; display:none;}
.purchase_detail h3{ background-color:#DCE6F9; border-radius:5px 5px; width:500px; margin-bottom:20px;}
.purchase_detail h2{text-align:center;}
.purchase_detail h2 p{width:200px; margin:20px auto; background-color:#ccc;}
.purchase_detail h2 p:hover{width:200px; margin:20px auto; background-color:#c15f18; color:#fff; cursor:pointer;}

.seek2{margin-bottom:30px;}
.seek2 a{display:inline-block; width:60px; border:1px solid #ccc; font-size:14px; margin-left:20px; text-align:center; border-radius:5px 5px;}
.seek2 input{/*border-radius:10px 10px;*/}

.table_th2 table tr th{background-color:#666; color:#fff;}
.table_th2 table tr td input{border-style:none;width:75px;height:18px;padding:0;outline:none;text-align:center;}
.Meter meter{width:44px;}
.Meter button{display:none;}
.Meter:hover button{display:block;}
.Meter:hover meter{display:none;}

.added2>a{border:1px solid #ddd; border-radius:5px 5px; width:80px; text-align:center; text-decoration:none;}
.added2 table tr td input{border-style:none; width:75px; height:18px; padding:0; outline:none; text-align:center;}
#app2{cursor:pointer;}
.added_id2{display:none;}
.page2{ float:right;}
.page2>a{display:inline-block; border:1px solid #ddd; width:30px; text-align:center; margin:0 10px; border-radius:5px 5px;}
.page2>a:hover{border:1px solid #f15c18; color:#f15C18; text-decoration:none;}

/*、、、库存、、、*/
.inventory_detail{padding-top:10px; display:none;}
.inventory_detail h3{ background-color:#DCE6F9; border-radius:5px 5px; width:500px; margin-bottom:20px;}

.seek3{margin-bottom:30px;}
.seek3 a{display:inline-block; width:60px; border:1px solid #ccc; font-size:14px; margin-left:20px; text-align:center; border-radius:5px 5px;}
.seek3 input{/*border-radius:10px 10px;*/}

.table_th3 table tr th{background-color:#666; color:#fff;}
.table_th3 table tr td input{border-style:none;width:75px;height:18px;padding:0;outline:none;text-align:center;}
.Meter meter{width:44px;}
.Meter button{display:none;}
.Meter:hover button{display:block;}
.Meter:hover meter{display:none;}

.added3>a{border:1px solid #ddd; border-radius:5px 5px; width:80px; text-align:center; text-decoration:none;}
.added3 table tr td input{border-style:none; width:75px; height:18px; padding:0; outline:none; text-align:center;}
#app3{cursor:pointer;}
.added_id3{display:none;}
.page3{ float:right;}
.page3>a{display:inline-block; border:1px solid #ddd; width:30px; text-align:center; margin:0 10px; border-radius:5px 5px;}
.page3>a:hover{border:1px solid #f15c18; color:#f15C18; text-decoration:none;}

/*、、、供应商、、、*/
.supplier_detail{padding-top:10px; display:none;}
.supplier_detail h3{ background-color:#DCE6F9; border-radius:5px 5px; width:500px; margin-bottom:20px;}

/*、、、收货、、、*/
.receipt_detail{padding-top:10px; display:none;}
.receipt_detail h3{ background-color:#DCE6F9; border-radius:5px 5px; width:500px; margin-bottom:20px;}

.seek5{margin-bottom:30px;}
.seek5 a{display:inline-block; width:60px; border:1px solid #ccc; font-size:14px; margin-left:20px; text-align:center; border-radius:5px 5px;}
.seek5 input{/*border-radius:10px 10px;*/}

.table_th5 table tr th{background-color:#666; color:#fff;}
.table_th5 table tr td input{border-style:none;width:75px;height:18px;padding:0;outline:none;text-align:center;}
.Meter meter{width:44px;}
.Meter button{display:none;}
.Meter:hover button{display:block;}
.Meter:hover meter{display:none;}

.added5>a{border:1px solid #ddd; border-radius:5px 5px; width:80px; text-align:center; text-decoration:none;}
.added5 table tr td input{border-style:none; width:75px; height:18px; padding:0; outline:none; text-align:center;}
#app5{cursor:pointer;}
.added_id5{display:none;}
.page5{ float:right;}
.page5>a{display:inline-block; border:1px solid #ddd; width:30px; text-align:center; margin:0 10px; border-radius:5px 5px;}
.page5>a:hover{border:1px solid #f15c18; color:#f15C18; text-decoration:none;}

/*、、、用户、、、*/
.user_detail{display:none;}
.user_detail input{text-align:center;}
.user_detail p{line-height:25px;overflow:hidden;margin:20px 0;}
.user_detail p span{display:block;padding:0 10px;float:left;border:1px solid #ddd;margin-right:20px;cursor:pointer;}
.user_detail .active{background-color:#89C9E2;color:#ffffff;}
.user_detail  .vip  th{padding:0 15px;text-align:center;}
.user_detail .table_users{ border:1px solid #ccc;width:100%;border-collapse: collapse;margin-top:20px;}
.user_detail td,.user_detail th{border:1px solid #ccc;padding:0;}
.user_detail tbody input{width:90px;border:none;}         
.user_detail .input10,.user_detail .input11{background-color:#F6AB00;width:50px;margin-left:6px;color:#ffffff;border-radius:20px;}
.user_detail .input11{background-color:#65A031;}
.allinput{margin-top:10px;position:relative;}
.allinput input{line-height:15px;margin-right:10px;width:130px;}
.allinput label{height:20px;padding-right:10px;}
.allinput .labelmail{width:80px;}
.user_detail .button_user{margin-top:10px;background:#F3E346;border-radius:5px 5px;width:80px;position:absolute;right:40px;}
.user_detail .userDel{background: #FFC358;width:40px;margin-left:15px;border-radius:40px;color:#fff;}
.user_detail .userEdit{background: #89C9E2;width:40px;margin-left:15px;border-radius:40px;color:#fff;}

/*、、、登录、、、*/
.login{border:1px solid #ddd; width:400px; height:250px; position:absolute; top:150px; left:500px;}
.login h3{background-color:skyblue; line-height:50px;}
.login h3 i{padding:0 10px; color:yellow;}
.login_input p{padding:20px 0 0 80px;}
.login_input #btnLogin{margin:30px 0 0 120px;}
.login_input #btnExit{margin:30px 0 0 20px;}